@charset "utf-8";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* NAVIGATION */
    nav h1 a,
    nav h1 {
        font-size: 0.95em;
    }

/*  Restaurant Filter */
    .filter-options {
    font-size: .75em;
    }

    .filter-options select {
   width: 45%;
   min-width:100px;
   padding: 0 5px;
    }

/*  Reviews   */

#reviews-container h2 {
    font-size: 1.25em;
}

#reviews-list li {
    margin: 0 0 30px;
    position: relative;
    font-size: .75em;
    min-width:250px;
}

#reviews-list li p {
    margin: 0 0 6px;
    font-size: .85em;
    text-align: left;
}

}

@media screen and (max-width: 400px) {
    /* NAVIGATION */
    nav h1 a,
    nav h1 {
        font-size: 1em;
    }
}